/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************************************************/

*{
    box-sizing: border-box;
}

/*********************feuille de style**************************************/

body{
    background: url(../img/fond.png);
    font-family: Arial, Helvetica, sans-serif


}

#conteneur {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    background: #fff;
    box-shadow: black 105em;
}

header {
    width: 1000px;
    height: 90px;
}

p {
    font-size: 10px;
    display: inline-block;
    position: relative;
}

h3{
    background-color: grey;
   position: relative;
   font-weight: bold;
}

header .logo {
    float: left;
}

header .aide {
    margin-top: 10px;
    text-align: center;
    margin:0 auto;
}

.article{
    float: right;
    margin-top: -40px;
     background-color: #33CCFF;
     width: 300px;
     height: 50px
}

p .article {
    text-align: center;
    width: 20px;
    height: 5px;
    font-size: 10em;
    
}

h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 3px;
    margin: 0 auto;
}

/**********************section*********************************************/

section .vetement{
    background: #fff;
    width: 1000px;
    height: 100px;
    float: left;
}

section .secu {
    background: #fff;
    width: 175px;
    height: 150px;
    float: left;
}

section .camion {
    background: #fff;
    height: 150px;
    width: 225px;
    float: right;
    
}

figcaption {
    font-size: 20px;
    color: #6acafc;
    margin-top: -24px;
    margin-right: -25px;
    position: relative;
}

#blabla {
    background: #fff;
    width: 1000px;
    height: 150px;
}

section .bandeau{
    margin:0 auto
}

section .maboutique {
    background: #fff;
    margin: 0 auto;
    height: 150px;
    width: 600px;
    display: inline-block;
}

.robe {
    float: left;
    width: 300px;
    height: 100px;
    display: flex;
    border-radius: 1em;
    border: 1px solid black;
}

.robe  p{
    display: block;
}

.talon {
    float: left;
    width: 300px;
    height: 100px;
    display: flex;
    display: inline-block;
    border-radius: 1em;
    border: 1px solid black;   
}
 
p.talon {
    display: inline;
}

.chemise {
    float: left;
    width: 300px;
    height: 100px;
    display: flex;
    border-radius: 1em;
    border: 1px solid black;
    
}

/**********************************************************************/
.clear{
    clear: both;
}



/****************************footer*************************************************/
footer{
    background: #33ccff;
    height: 60px;
    width: 1000px;
    line-height: 60px;
    
    
    
}

footer li {
    display: inline;
    text-align: center;

}

footer ul {
    text-align: center;
}










/*****************************navigation*****************************************/

nav {
    background: #33ccff;
    height: 20px;
    padding: 15px;
    border-bottom: 15px solid #33ccff;
    text-align: center;
}
nav a {
    margin: 10px;
    padding:2px 10px;
    border-radius: 10px 0px;
    border: 2px solid #fff;
    background: #6acafc;

    font-family: 'oswald', sans-serif, 'anton', sans-serif, 'lemonada', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    
}

nav a:hover {
    background: #2c3e50;
    color: #fff;
    border: none;
}
.active{
    background: #ff99cc;
    color: #fff;
}
